<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GameGuessr</title>
    <link href="styles.css" rel="stylesheet"></link>
</head>
<body>
    <div>
        <h1><%= message %> <br> <%= gameTitle %></h1>
        <img src="<%= gameImageURL %>" alt="Game cover">
        <form action="/" method="POST">
            <input type="hidden" value=""">
            <button type="submit">Next</button>
        </form>
        <div class="scores">
            <p>Score: <%= score %></p>
            <p>High Score: <%= highScore %></p>
        </div>
    </div>
</body>
</html>